

# Evaluate the Ad Budget Dataset of XYZ Firm

#### 1: Import the dataset

In [2]:
#Import the required libraries
import pandas as pd

In [10]:
#Import the advertising dataset
data = pd.read_csv('Advertising Budget and Sales.csv',index_col=0)

#### 2: Analyze the dataset

In [11]:
#View the initial few records of the dataset
data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [13]:
#Check the total number of elements in the dataset
data.size

800

#### 3: Find the features or media channels used by the firm

In [15]:
#Check the number of observations (rows) and attributes (columns) in the dataset
data.shape

(200, 4)

In [17]:
#View the names of each of the attributes
data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [18]:
#Create a feature object from the columns
x_feature= data[['Newspaper Ad Budget ($)','Radio Ad Budget ($)','TV Ad Budget ($)']]

In [20]:
#View the feature object
x_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
1                     69.2                 37.8             230.1
2                     45.1                 39.3              44.5
3                     69.3                 45.9              17.2
4                     58.5                 41.3             151.5
5                     58.4                 10.8             180.8

In [21]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_feature=data[['Sales ($)']]

In [22]:
#View the target object
y_feature.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [23]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [24]:
#Verify if all the observations have been captured in the target object
y_feature.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [25]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_spilt 
x_train, x_test,y_train, y_test = train_test_split(x_feature,y_feature, train_size=0.9, random_state=1)

ImportError: cannot import name 'train_test_spilt' from 'sklearn.model_selection' (C:\Users\MANOJ KUMAR DARA\anaconda3\lib\site-packages\sklearn\model_selection\__init__.py)

In [14]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)

#### 6: Create a model  to predict the sales outcome

In [15]:
#Create a linear regression model

In [16]:
#Print the intercept and coefficients

In [17]:
#Predict the outcome for the testing dataset

#### 7: Calculate the Mean Square Error (MSE)

In [18]:
#Import required libraries for calculating MSE (mean square error)

In [19]:
#Calculate the MSE